package {{apiPackage}};

import org.apache.camel.builder.RouteBuilder;
import org.apache.camel.model.rest.RestBindingMode;
import org.apache.camel.model.rest.RestConfigurationDefinition;

public abstract class ApiConfiguration extends RouteBuilder {
    private static RestConfigurationDefinition restConfigurationDefinition;

    public RestConfigurationDefinition restConfigurationDefinition() {
        return restConfigurationDefinition == null ? restConfigurationDefinition = restConfiguration()
            .component("servlet")
            .host("{{serverHost}}")
            .port("{{serverPort}}")
            .contextPath("{{contextPath}}")
            .bindingMode(RestBindingMode.auto)
            .apiContextPath("/api-doc")
            .apiProperty("api.title", "{{{title}}}")
            .apiProperty("schemes", "{{#schemes}}{{scheme}}{{^-last}},{{/-last}}{{/schemes}}")
            .apiProperty("api.description", "{{description}}")
            .apiProperty("api.version", "{{version}}") : restConfigurationDefinition;
    }
}
