package {{apiPackage}};

import org.apache.camel.builder.RouteBuilder;
import org.apache.camel.model.rest.RestBindingMode;
import org.apache.camel.model.rest.RestConfigurationDefinition;

public abstract class ApiConfiguration extends RouteBuilder {
    private static RestConfigurationDefinition restConfigurationDefinition;

    public RestConfigurationDefinition restConfigurationDefinition() {
        return restConfigurationDefinition == null ? restConfigurationDefinition = restConfiguration()
            .component("servlet")
            .host("{{serverHost}}")
            .port("{{serverPort}}")
            .contextPath("{{contextPath}}")
            .bindingMode(RestBindingMode.auto)
            .apiContextPath("/api-doc")
            .apiProperty("schemes", "{{#schemes}}{{scheme}}{{^-last}},{{/-last}}{{/schemes}}")
            .apiProperty("api.title", "{{{title}}}")
            .apiProperty("api.description", "{{appDescription}}")
            .apiProperty("api.version", "{{version}}")
            .apiProperty("api.termsOfService", "{{infoUrl}}")
            .apiProperty("api.contact.name", "")
            .apiProperty("api.contact.email", "{{infoEmail}}")
            .apiProperty("api.contact.url", "")
            .apiProperty("api.license.name", "{{licenseInfo}}")
            .apiProperty("api.license.url", "{{licenseUrl}}") : restConfigurationDefinition;
    }
}
