package {{package}};

import org.springframework.stereotype.Component;
{{#imports}}import {{import}};
{{/imports}}

@Component
public class {{classname}}RouteBuilder extends {{classname}} {

    @Override
    public void configure() throws Exception {
        super.restConfigurationDefinition();

        {{#operations}}{{#operation}}
        super.{{nickname}}().log("{{httpMethod}} {{nickname}} API")
        {{#allParams}}
        {{#isBodyParam}}.log("{{paramName}}: " + bodyAs({{baseType}}{{#isContainer}}[]{{/isContainer}}.class).toString()){{/isBodyParam}}
        {{^isBodyParam}}.log("{{paramName}}: ${header.{{baseName}}}"){{/isBodyParam}}
        {{/allParams}}.to("mock:{{nickname}}");
        {{/operation}}{{/operations}}
    }
}
