{{#isQueryParam}}            .param().name("{{paramName}}").type(RestParamType.query).required({{#required}}Boolean.TRUE{{/required}}{{^required}}Boolean.FALSE{{/required}}).defaultValue("{{{defaultValue}}}").description("{{{description}}}").endParam(){{/isQueryParam}}